<div class="layout">
  <div class="background">
    <span *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"></span>
  </div>
  <form class="login" [formGroup]="loginGroup" (submit)="submitLogin()">
    <div class="form-row">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="username" />
        <mat-error *ngIf="login.invalid && login.touched"
          >Please enter valid username</mat-error
        >
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
        />
        <mat-error *ngIf="login.invalid">Please enter valid username</mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="loginGroup.invalid"
      >
        Login
      </button>
    </div>
    <div class="form-row">
      <mat-error *ngIf="loginError">Username or password is invalid</mat-error>
    </div>
  </form>
</div>
