<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        aria-label="Example icon-button with a heart icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <a (click)="navigateToDashboard()">Dashboard</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item (click)="navigateToProjects()">Projects</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item (click)="navigateToEmployees()">Employees</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
